.wrapper {
    min-height: 75vh;
    margin-top: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.slogan_wrapper {
    margin-top: 36px;
}

.title {
    font-size: 64px;
    margin-bottom: 20px;
    color: #333;
}

.sub_title {
    font-size: 32px;
    margin-bottom: 48px;
    color: #515151;
}

.main_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 64px;
    color: #333;
    background-color: #C1D7AE;
    ;
    border: none;
    border-radius: 8px;
    font-size: 32px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.main_btn:hover {
    background-color: #8CC084;
}

/* .main_btn:active {
    background-color: white;
    color: rgb(155, 85, 221);
    border: 1px solid rgb(155, 85, 221);
} */

.consult_title {
    margin-top: 84px;
    font-size: 28px;
}

.consult_text {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.arrow_long {
    margin-left: 24px;
    font-size: 64px;
    color: #C1D7AE;
}